/*Стили секций*/

.page {
	.consult {
		.consult__container {
			display: flex;
			.consult__content {
				flex: 1 1 auto;
				.consult__title {
					text-align: left;
					margin: 89px 0px 80px 0px;
					color: #d40e49;
				}
				.consult__body {
					overflow: hidden;
					.consult__text {
						width: 64%;
						margin: 0 auto;
					}
					.consult__blk {
						position: relative;
						display: flex;
						align-items: center;
						justify-content: center;
						.consult__img-cover {
							max-width: 1016px;
							max-height: 476px;
							margin: 60px 0px 0px 0px;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
						.consult__clmn {
							position: absolute;
							top: 43%;
							left: 5%;
							width: 540px;
							height: 626px;
							background: url("../img/solut-img.png") no-repeat;
							.consult__itm {
								margin: 160px 0px 0px 0px;
								.consult__ttle {
									position: relative;
									left: 100px;
									color: #ffffff;
									margin: 0px 0px 40px 0px;
								}
								.consult__txt {
									color: #ffffff;
									width: 55%;
									margin: 0px 0px 0px 190px;
								}
							}
						}
					}
					.consult__consult-btn {
						margin: 225px 0px 0px 0px;
						float: right;
					}
				}
			}
		}
	}
	.solution {
		.solution__container {
			display: flex;
			.solution__content {
				flex: 1 1 auto;
				.solution__title {
					text-align: right;
					margin: 180px 0px 95px 0px;
					color: #d40e49;
				}
				.solution__items {
					max-width: 1490px;
					margin: 0 auto;
					.solution__column {
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
						justify-content: space-between;
						margin: 0px 0px 40px 0px;
						.solution__item {
							display: flex;
							flex-wrap: wrap;
							flex-direction: row;
							width: 45%;
							margin: 0px 0px 0px 40px;
							.solution__img-icon {
								width: 35%;
							}
							.solution__description {
								width: 63%;
								margin: 20px 0px 0px 0px;
								.solution__sub-title {
									font-size: 36px;
									line-height: 150%;
									margin: 0px 0px 20px 0px;
								}
							}
						}
					}
				}
				.solution__consult-btn {
					float: right;
					margin: 120px 0px 0px 0px;
				}
			}
		}
	}
	.departments {
		margin: 100px 0px 0px 0px;
		.departments__container {
			display: flex;
			.departments__content {
				flex: 1 1 auto;
				min-width: 0;
				.departments__slider {
					.swiper-wrapper {
						.departments__slide {
							.departments__title {
								margin: 0px 0px 30px 0px;
							}
							.departments__content-box {
								width: 100%;
								display: flex;
								flex-wrap: wrap;
								flex-direction: row;
								justify-content: space-between;

								.departments__column {
									position: relative;
									width: 57%;
									height: 800px;

									.departments__descr {
										margin: 0px 0px 60px 0px;
										width: 70%;
									}
									.departments__sub-text {
										width: 100%;
										display: flex;
										flex-wrap: wrap;
										flex-direction: row;
										justify-content: space-between;
										.departments__item {
											width: 31%;
											padding: 0px 10px 0px 10px;
											.departments__sub-title {
												line-height: 40 / 36 * 100%;
												margin: 0px 0px 20px 0px;
											}
											.departments__sub-titles {
												text-align: center;
												line-height: 40 / 36 * 100%;
												margin: 0px 0px 20px 0px;
											}
											.departments__list {
												padding: 0px 0px 0px 30px;
												.departments__link {
													line-height: 33 / 24 * 100%;
													list-style: disc;
													padding: 0px 0px 15px 0px;
												}
											}
										}
									}
									.departments__hire-btn {
										position: absolute;
										bottom: 0;
										background: #d40e49;
									}
								}
								.departments__img-cover {
									width: 43%;
									position: relative;
									display: flex;
									align-items: center;
									justify-content: left;
								}
								.departments__img-cover::after {
									content: "";
									position: absolute;
									right: 0px;
									top: 40px;
									width: 260px;
									height: 251px;
									background: url("../img/slider/right-block.png") no-repeat;
									background-size: 260px 251px;
								}
							}
						}
					}
				}
			}
		}
	}
	.employees {
		margin: 100px 0px 0px 0px;
		.employees__container {
			.employees__content {
				max-width: 1400px;
				margin: 0 auto;
				.employees__title {
					color: #d40e49;
					margin: 0px 0px 100px 0px;
				}
				.employees__body {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					justify-content: space-between;
					.employees__blocker {
						width: 34%;
						margin: 0px 0px 0px 60px;

						.employees__item {
							margin: 0px 0px 50px 0px;
							.employees__sub-title {
								margin: 0px 0px 10px 0px;
							}
							.employees__text {
								line-height: 150%;
							}
						}
						.employees__hire-btn {
							margin: 120px 0px 0px 0px;
							background: #d40e49;
						}
					}
					.employees__img-cover {
						position: relative;
						width: 55%;
						height: 1241px;
						background: url("../img/empl/empl-image.png") no-repeat;

						.employees__numb {
							width: 40%;
							margin: 160px 0px 0px 64px;

							.employees__itm {
								margin: 30px 0px 80px 0px;
								width: 121px;
							}
						}

						.employees__right-pic {
							position: absolute;
							left: 270px;
							top: 220px;
							z-index: -1;
						}
					}
				}
			}
		}
	}
	.clients {
		margin: 380px 0px 0px 0px;
		.clients__container {
			.clients__content {
				.clients__title {
					color: #d40e49;
					margin: 0px 0px 37px 0px;
				}
				.clients__items {
					.clients__logos-column {
						width: 100%;
						.clients__list {
							display: flex;
							justify-content: right;
							align-items: center;
							li {
								width: 100%/4;
								margin: 0px 0px 40px 120px;
							}
						}
					}
					.clients__column {
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
						justify-content: space-between;
						margin: 215px 0px 0px 0px;
						.clients__item {
							width: 33%;

							.clients__description {
								width: 100%;
								display: flex;
								flex-wrap: wrap;
								flex-direction: row;
								justify-content: space-between;
								margin: 0px 0px 20px 0px;
								.clients__img-icon {
									width: 186.98px;
									height: 194.53px;
									img {
										width: 100%;
										height: 100%;
									}
								}
								.clients__descr {
									width: 60%;
									margin: 20px 0px 0px 0px;
									.clients__sub-title {
										font-weight: normal;
									}
									.clients__position {
										line-height: 150%;
									}
								}
							}
							.clients__text {
								width: 80%;
								margin: 0px 0px 0px 100px;
							}
						}
					}
				}
			}
		}
	}
	.contacts {
		margin: 220px 0px 0px 0px;
		.contacts__container {
			.contacts__content {
				.contacts__title {
					color: #d40e49;
					text-align: right;
					width: 70%;
				}
				.contacts__body {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					justify-content: space-between;
					.contacts__form {
						width: 60%;
						margin: 70px 0px 0px 0px;
						color: #ffffff;
						.contacts__form-fields {
							background: rgba(57, 68, 145, 0.6);
							display: flex;
							flex-wrap: wrap;
							flex-direction: row;
							justify-content: space-between;

							.contacts__form-field {
								width: 40%;
								margin: 30px auto;
								.contacts__label {
									font-weight: normal;
									font-size: 24px;
									line-height: 33 / 24 * 100%;
									display: block;
									margin: 0px 0px 10px 0px;
								}
								.contacts__input {
									height: 20px;
									width: 100%;
									padding: 16px 0px 19px 30px;
									font-weight: 300;
									font-size: 18px;
									line-height: 25px;
									color: #8289ba;
								}
							}
						}
					}
					.contacts__img-cover {
						position: relative;
						width: 40%;
						height: 950px;
						background: url("../img/contact-img.png") no-repeat;
						.contacts__text {
							position: relative;
							left: 40px;
							top: 80px;
							width: 80%;
							line-height: 150%;
							color: #ffffff;
							z-index: 3;
						}
						.contacts__left-pic {
							position: absolute;
							left: -80px;
							top: -80px;
							z-index: 2;
						}
					}
				}
			}
		}
	}
}
