/*Общие стили */
.wrapper {
	min-height: 100%;
	display: grid;
	grid-template: minmax(800px, 1080px) 1fr minmax(190px, auto) / minmax(260px, auto);
	grid-template-areas: "header" "main" "footer";
}
.flex {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
}
/*Стили для текста, h и списка*/
.title {
	font-weight: bold;
	font-size: 24px;
	line-height: 120%;
	color: #394491;
}
.sub-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 120%;
	color: #394491;
}
.text {
	font-weight: normal;
	font-size: 16px;
	line-height: 170%;
	color: #483eb4;
}
.social {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 36px;
	height: 34px;
}
/*Стили для кнопки*/
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffff;
	font-weight: bold;
	font-size: 27.3469px;
	line-height: 170%;
	padding: 8px 40px 10px;
	background: #394491;
	&:hover {
		background-color: #002fed;
	}
}
@media (min-width: 1560px) {
	.btn {
		font-size: 36px;
		padding: 8px 40px 10px;
		background: #394491;
		&:hover {
			background-color: #002fed;
		}
	}
}
@media (min-width: 925px) and (max-width: 1560px) {
	.btn {
		font-size: 20px;
		padding: 8px 40px 10px;
		background: #394491;
		&:hover {
			background-color: #002fed;
		}
	}
}
@media (min-width: 925px) {
	.title {
		font-size: 64px;
		line-height: 72 / 64 * 100%;
	}
	.sub-title {
		font-size: 36px;
		line-height: 170%;
	}
	.text {
		font-size: 24px;
		line-height: 150%;
	}
	.social {
		font-size: 39px;
	}
}
@media (max-width: 375px) {
	.btn {
		font-size: 20px;
	}
}
